<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <mediaRequestHandler>
        <processor type="Sitecore.XA.Foundation.Theming.Pipelines.MediaRequestHandler.WireframeImages, Sitecore.XA.Foundation.Theming"
          set:type="Sitecore.Support.XA.Foundation.Theming.Pipelines.MediaRequestHandler.WireframeImages, Sitecore.Support.8533" />
      </mediaRequestHandler>
    </pipelines>
  </sitecore>
</configuration>